<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.carrental">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Activities.ViewVehicleDetails" />
        <activity android:name=".Activities.ModfiyVehicleDetails" />
        <activity android:name=".Activities.ModifyUserDetails" />
        <activity android:name=".Activities.VehicleDetails" />
        <activity android:name=".Activities.UserDetails" />
        <activity android:name=".Activities.EmployeeOperation" />
        <activity android:name=".Activities.CustomerOperation" />
        <activity android:name=".Activities.Login">
             <intent-filter>
             <action android:name="android.intent.action.MAIN" />

             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>
    </application>

</manifest>